First we read our csv file with all scores into a dataframe.

In [3]:
import pandas as pd

all_scores = pd.read_csv('/Users/evanflaks/Desktop/Midd 24-25/Machine Learning/451Project/cfb_box-scores_2002-2024.csv')
all_scores.head()

,season,week,date,time_et,game_type,away,home,rank_away,rank_home,conf_away,...,int_away,int_home,pen_num_away,pen_yards_away,pen_num_home,pen_yards_home,possession_away,possession_home,attendance,tv
0,2002,1.0,2002-08-22,7:30 PM,regular,Colorado State,Virginia,NaN,NaN,mwc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57120.0,NaN
1,2002,1.0,2002-08-23,8:00 PM,regular,Fresno State,Wisconsin,NaN,25.0,wac,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75136.0,NaN
2,2002,1.0,2002-08-24,2:30 PM,regular,Texas Tech,Ohio State,NaN,13.0,big12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100037.0,NaN
3,2002,1.0,2002-08-24,4:30 PM,regular,New Mexico,NC State,NaN,NaN,mwc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47018.0,NaN
4,2002,1.0,2002-08-24,7:45 PM,regular,Arizona State,Nebraska,NaN,10.0,pac12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77779.0,NaN

Now we want to extract the names of all of the conferences, so we can filter out non-Power 5 games.

In [9]:
# Get unique values from conf_home and conf_away
home_confs = all_scores["conf_home"].unique()
away_confs = all_scores["conf_away"].unique()

# Combine them into one set to get all unique conferences
all_confs = set(home_confs).union(set(away_confs))

# Display the result
all_confs

{'aac',
 'acc',
 'big-east',
 'big10',
 'big12',
 'cusa',
 'ind',
 'mac',
 'mwc',
 nan,
 'pac12',
 'sec',
 'sun-belt',
 'wac'}

Now we create a new dataframe with only power 5 games.

In [10]:
p5 = {"sec", "acc", "big10", "big12", "pac12"}
p5_scores = all_scores[
    all_scores["conf_home"].isin(p5) &
    all_scores["conf_away"].isin(p5)]

p5_scores.head()

,season,week,date,time_et,game_type,away,home,rank_away,rank_home,conf_away,...,int_away,int_home,pen_num_away,pen_yards_away,pen_num_home,pen_yards_home,possession_away,possession_home,attendance,tv
2,2002,1.0,2002-08-24,2:30 PM,regular,Texas Tech,Ohio State,NaN,13.0,big12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100037.0,NaN
4,2002,1.0,2002-08-24,7:45 PM,regular,Arizona State,Nebraska,NaN,10.0,pac12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77779.0,NaN
5,2002,1.0,2002-08-24,8:30 PM,regular,Florida State,Iowa State,3.0,NaN,acc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55132.0,NaN
22,2002,2.0,2002-08-31,12:00 PM,regular,Washington,Michigan,11.0,13.0,pac12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111491.0,NaN
25,2002,2.0,2002-08-31,12:30 PM,regular,Kansas,Iowa State,NaN,NaN,big12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40026.0,NaN